@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    width: 100%;
    background-color: #f5f7f9;
    font-family: 'Montserrat', sans-serif;
}

.selected {
    border: 1px solid #ee1b59 !important;
    background-color: #ee1b59 !important;
    color: #fff !important;
}
.dnone {
    display: none;
}

.header {
    width: 100%;
    height: 140px;
    background-image: url('playa.jpg');
    background-repeat: no-repeat;
    background-position: 0 -220px;
    background-size: cover;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);*/
}

.header .menu {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.search_box {
    position: relative;
    width: 100%;
    height: 120px;
}

.search_box form {
    position: absolute;
    width: 820px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    top: -60px;
    left: 240px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #e1e3e9;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.search_box input, select {
    width: 100%;
    background-color: #e9edf1;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    height: 32px;
}

.search_box button {
    background-color: #f4ca63;
    color: #592d08;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    grid-column: 4;
}

.found_flights {
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.found_flights > div {
    border: 1px solid #e1e3e9;
    padding: 10px;
    border-radius: 4px;
    min-height: 200px;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.found_flights .flight {
    padding: 10px;
    user-select: none;
    display: grid;
    grid-template-areas: "out ar price";
    border: 1px solid #e1e3e9;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: center;
}

.flight .out {
    grid-area: out;
}

.flight .ar {
    grid-area: ar;
}

.flight .price {
    grid-area: price;
    font-weight: bold;
}

.book_flight {
    width: 100%;
    padding: 0 20px;
    display: grid;
    place-items: end;
}

.book_flight button, .btn {
    height: 34px;
    width: 200px;
    background-color: #f4ca63;
    color: #592d08;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.btn {
    width: 100%;
    display: grid;
    place-items: center;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url("playa.jpg");
    display: grid;
    place-items: center;
}

.flight_overview {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
}

.logo {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: #222;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}